# astropy==5.1
# numpy==1.22.4
astropy==5.2.2
numpy==1.24.2
opencv-python-headless==4.8.1.78.72
paho_mqtt==1.6.1
# pandas==1.4.3
pandas==2.0.0
PyYAML==6.0
requests==2.29.0
# tabulate==0.8.10
tabulate==0.9.0
